body {
    background: #f1c40f;
}

.button {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;

}

.button a{
    text-decoration-line: none;
}

.button p {
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    user-select: none;

}

.button:hover {
    cursor: pointer;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: #927608;
    opacity: 0.4;
    bottom: -30px;
}

.palavra{
    padding: 4px 0;
    position: absolute;
    left: 25%;
    top: 35%;
}

.palavra h1{
    color: white;
}

.palavra p{
    color: white;
}

.outra{
    background-color: rgb(156, 56, 56);
}
